body{
	background-color: #F1EFDB;
}

.container{
	position: relative;
	top: -230px;
	bottom: ;
	width: 82%;
}
p, label, button{
	font-family: 'Open Sans', sans-serif;
	color: #70454D;
	font-size: 13px;
}
h5{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #70454D;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: #A94457;
}
span{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #70454D;
}
